<div class="item-details clearfix">
  <h1 class="item-details__name" data-test-name={{item.name}}>{{item.name}}</h1>
  <span class="item-details__price" data-test-price={{priceInDollars}}>${{priceInDollars}}</span>
</div>
