<script src="https://checkout.stripe.com/checkout.js"></script>
<button {{action 'checkout'}}
        class='stripe-checkout__button btn btn-block btn-primary px-0'
        disabled={{disabled}}>
  Pay with Credit Card
</button>
