body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #fffde7;
  margin: 0;
  padding: 1px;
  text-align: center;
}

@import "index";

// Components
@import "components/show-item";
@import "components/apple-pay-button";
@import "components/back-button";
@import "components/item-details";

.section-store__items-container {
  height: 850px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
