.section-store {
  height: 100%;
}

.section-store__title {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 861px) {
  .section-store__items-container > .ember-view {
    display: inline-block;
    margin: 0 3% 5em;
    vertical-align: top;
  }
}
