.app-header {
  @include material-shadow(1);
  background-color: $mcolor-blue-grey-900;
  color: $mcolor-blue-grey-300;
  z-index: $zindex-navbar;

  a {
    color: inherit;
  }

}

.app-header__action,
.app-header__colophon {
  width: 75px;
}

.app-header__colophon {
  padding-top: $spacer-x * .2;

  .svg-logo {
    fill: $mcolor-blue-grey-300;
  }

  .svg-logo__201 {
    fill: $mcolor-cyan-600;
  }

  &:hover {
    text-decoration: none;

    .svg-logo {
      fill: $mcolor-yellow-50;
    }

    .svg-logo__201 {
      fill: $mcolor-light-green-600;
    }
  }

  &:active {
    text-decoration: none;

    .svg-logo,
    .svg-logo__201 {
      fill: white;
    }
  }

  .font-size-xs {
    display: block;
    margin-top: -0.5em;
    font-size: .5rem;
    line-height: 1;
    text-align: right;
    color: $mcolor-blue-grey-500;
  }

  @include media-breakpoint-up(md) {
    padding-top: $spacer-x * .25;
  }
}

.navbar-brand {
  font-size: $font-size-h5;
  font-weight: 300;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-left: .2em;

  .svg-logo {
    width: 1.75em;
    fill: $mcolor-light-green-500;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-h4;
  }
}
