.app-footer {
  @include gradient-y(white, $mcolor-grey-100);
  overflow: auto;
  height: 220px;
  @include material-shadow(1);

  @include media-breakpoint-up(md) {
    height: auto;
  }
}

.stripe-checkout__button {
  line-height: 1.6;
}
