.back-button {
  position: absolute;
  top: 0px;
  left: 5px;

  // copied from index.scss .section-store__title
  font-size: 2.5em;
  background: #e65100;
  color: #fffde7;
  margin: 0 0 1em;
  padding: 1.5em 10px .125em;

  a {
    text-decoration: none;
    color: #fffde7;
  }
}
