.show-item {
  width: 220px;
  margin: 0 auto 5em;

  &.is-focused {
    width: 300px;
  }
}

@media only screen and (min-width: 861px) {
  .show-item__image {
    height: 230px;
  }
}

.show-item__image img {
  display:  block;
  width: 100%;
}

.show-item__details {
  border: 0.125em;
  padding: 0.125em;
  margin: 0 1em;
  border-radius: .5em;
}

.show-item__name {
  float: left;
  font-size: 1.25em;
  margin: 0;
  padding-left: 10px;
  color: #0097a7;
}

.show-item__price {
  float: right;
  line-height: 1.75;
  padding-right: 10px;
  color: #0097a7;
}
