.show-item {
  width: 220px;
  margin: 0 auto 5em;

  // have to provide a min-height to make liquid-fire
  // compute position correctly.
  min-height: 211px;

  &.is-focused {
    width: 300px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 861px) {
  .show-item__image {
    height: 230px;
  }
}

.show-item__image img {
  display:  block;
  width: 100%;
}
