.baseline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: $mcolor-yellow-50;
  margin: 0;
  padding: 1px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.section-store__items-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $headerHeight;
  background: $mcolor-orange-900;
  color: $mcolor-yellow-50;
}

.header-height {
  height: $headerHeight;
}

.scroll-container {
  position: fixed;
  width: 100%;
  top: $headerHeight;
  bottom: $footerHeight;
}
.footer {
  position: fixed;
  width: 100%;
  height: $footerHeight;
  bottom: 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.footer-message {
  border-top: 1px solid $mcolor-orange-900;
}

.liquid-container, .liquid-child {
  width: 100%;
  height: 100%
}
