<section class='section-store'>
  <h1 class='section-store__title'>Grab a sticker</h1>

  <div class='section-store__items-container'>
    {{#swipeable-area}}
      {{#each model as |item|}}
        {{#swipeable-item}}
          {{show-item item=item}}
        {{/swipeable-item}}
      {{/each}}
    {{/swipeable-area}}
  </div>
</section>
