<section class='section-store'>

  <div class='section-store__items-container'>

    {{#each model as |item|}}
      {{#link-to 'item' item}}
        {{show-item item=item}}
      {{/link-to}}
    {{/each}}
  </div>
</section>

{{to-elsewhere named="header" send=(hash title="Grab a sticker")}}
{{to-elsewhere named="footer" send=null}}
