<section class='section-store'>
  <h1 class='section-store__title'>Grab a sticker</h1>

  <div class='section-store__items-container'>

    {{#each model as |item|}}
      {{#link-to 'item' item}}
        {{show-item item=item}}
      {{/link-to}}
    {{/each}}
  </div>
</section>
