<section class='section-store'>
  <div class='section-store__items-container'>

    {{show-item item=model isFocused=true}}
  </div>
</section>

{{to-elsewhere named="header" send=(hash component=(component "back-button") title=model.name)}}
{{to-elsewhere named="footer" send=(component "item-footer" item=model)}}
