<section class='section-store'>
  <h1 class='section-store__title'>Grab a sticker</h1>

  <div class='section-store__items-container'>

    {{show-item item=model isFocused=true}}

    {{back-button}}

    <div class='footer'>
      {{item-details item=model}}

      {{apple-pay-button item=model}}
    </div>
  </div>
</section>
